/* CSS Variable */
:root {
  --iris: #4d5ae5;
  --ocean: #404bbf;
  --navyblue: #2e2f42;
  --green: #31d0aa;
  --slate: #434455;
  --lightslate: #8e8f99;
  --cornflower: #e7e9fc;
  --cloud: #f4f4fd;
  --navybluemodal: #2e2f4266;
  --grey: #2e2f42b2;
  --white: #ffffff;
  --dairy: #fcfcfc;
}

/* CSS RESET */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
}

*::after,
*::before {
  box-sizing: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.link {
  text-decoration: none;
  color: inherit;
}

/* END OF CSS RESET */

/* HTML Body */
body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  letter-spacing: 0.03em;
  color: var(--slate);
  background-color: var(--white);
  line-height: 24px;
}

/* General Styles */

/* R */
.container {
  width: 1440px;
  padding: 0 156px;
  margin: 0 auto;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.hover-underline-animation {
  display: inline-block;
  position: relative;
}

.hover-underline-animation::after {
  display: block;
  content: "";
  width: 100%;
  height: 4px;
  bottom: -1px;
  border-radius: 10px;
  position: absolute;
  transform: scaleX(0);
  background-color: var(--ocean);
  transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.active-link {
  color: var(--ocean);
  position: relative;
}

.active-link::after {
  display: block;
  content: "";
  width: 100%;
  height: 4px;
  bottom: -1px;
  background-color: var(--ocean);
  border-radius: 10px;
  position: absolute;
}

.section {
  padding: 120px 0;
}

.section-no-top-padding {
  padding-top: 0;
}

.section-title {
  font-size: 36px;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 0.72px;
  text-align: center;
  margin-bottom: 70px;
}

.main-button {
  display: inline-flex;
  padding: 16px 32px;
  align-items: flex-start;
  border: none;
  font-weight: 500;
  border-radius: 4px;
  background-color: var(--iris);
  color: var(--white);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button:hover {
  background-color: var(--ocean);
}

/* End of General Styles */

/* Header Section for both index and portfolio html */

/* R */
.header {
  border-bottom: 1px solid var(--cornflower);
}

/* R */
.header-container {
  display: flex;
  justify-content: space-between;
}

/* R */
.logo-web,
.logo-studio {
  color: var(--iris);
  font-size: 18px;
  font-family: Raleway;
  font-weight: 800;
  line-height: 21px;
  letter-spacing: 0.54px;
  text-transform: uppercase;
}

/* R */
.logo-studio {
  color: var(--navyblue);
}

/* R */
.logo-studio-white {
  color: var(--white);
  font-size: 18px;
  font-family: Raleway;
  font-weight: 800;
  line-height: 21px;
  letter-spacing: 0.54px;
  text-transform: uppercase;
}

.page-header {
  border-bottom: 1px solid var(--cornflower);
}

.menu {
  display: inline-flex;
  align-items: flex-start;
  gap: 40px;
  margin-left: 76px;
}

.menu-link {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.32px;
  display: block;
  padding: 25px 0;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.active-link {
  color: var(--ocean);
  position: relative;
}
.active-link::after {
  display: block;
  content: "";
  width: 100%;
  height: 4px;
  bottom: -1px;
  background-color: var(--ocean);
  border-radius: 10px;
  position: absolute;
}

.container-contacts {
  display: flex;
  gap: 40px;
}

.contact-links {
  text-decoration: none;
  /* font-weight: 400; */
  color: var(--slate);
  display: block;
  padding: 25px 0;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contact-links:focus,
.contact-links:hover {
  color: var(--iris);
}
.contact-links .link:active {
  color: var(--ocean);
}

/* Hero Section */

.hero {
  background-color: var(--navyblue);
  background: linear-gradient(
      to right,
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/hero-bg-img.jpg);
  padding: 188px 0;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero-container {
  text-align: center;
}

.hero-title {
  font-size: 56px;
  font-weight: 700;
  line-height: 60px;
  letter-spacing: 1.12px;
  text-align: center;
  margin-bottom: 50px;
  color: white;
}

/* Section 1 */

.benefits {
  gap: 22px;
  display: flex;
  align-items: center;
}

.benefits-svg {
  width: 64px;
  height: 64px;
  flex-shrink: 0;
}

.benefits-svg-box {
  width: 264px;
  height: 112px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 8px;
  border-radius: 4px;
  background: var(--cloud);
}

.benefits-svg-box-icon {
  width: 64px;
  height: 64px;
  flex-shrink: 0;
}

.benefits-title {
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  margin-bottom: 8px;
  letter-spacing: 0.4px;
}
.benefits-description {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.32px;
}

/* Section 2 */

.what-we-do {
  display: flex;
  gap: 24px;
  justify-content: center;
}

/* Section 3 */

.team {
  display: flex;
  gap: 24px;
  justify-content: center;
}

.team-item {
  padding-bottom: 32px;
  border-radius: 0px 0px 4px 4px;
  background-color: var(--white);
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.team-name {
  margin-top: 25px;
  margin-bottom: 8px;
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.4px;
}

.team-position {
  text-align: center;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.32px;
  margin-bottom: 8px;
}

.team-social {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

.team-social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background-color: var(--iris);
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-social-link-box {
  width: 16px;
  height: 16px;
  flex-shrink: 0;
  fill: var(--cloud);
}

.team-background {
  background: var(--cloud);
}

.team-social-link:hover,
.team-social-link:focus {
  background-color: var(--ocean);
}

/* Section 4 */

.customers {
  display: inline-flex;
  align-items: flex-start;
  gap: 24px;
}

.customers-box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 168px;
  height: 88px;
  flex-shrink: 0;
  border-radius: 4px;
  border: 1px solid var(--lightslate);
  color: var(--lightslate);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.customers-box-svg {
  width: 104px;
  height: 56px;
  fill: currentColor;
}
.customers-box:hover,
.customers-box:focus {
  border-color: var(--ocean);
  color: var(--ocean);
  cursor: pointer;
}

/* Footer for both index and portfolio html*/

.footer {
  background-color: var(--navyblue);
  padding: 100px 0;
}

.row {
  display: flex;
  flex-direction: row;
}

.footer-container {
  display: flex;
  flex-direction: column;
}

.footer-description {
  color: var(--cloud);
  margin-top: 17px;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  width: 270px;
}

.footer-social-text {
  color: var(--white);
}

.social-container {
  margin-left: 120px;
}

.footer-social-list {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-top: 16px;
}

.footer-social-item {
  width: 40px;
  height: 40px;
}

.footer-social-link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--cloud);
  background-color: var(--iris);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-icon {
  fill: currentColor;
  width: 24px;
  height: 24px;
}

.footer-social-link:hover,
.footer-social-link:focus {
  background-color: var(--green);
  color: var(--cloud);
}

.footer-form {
  margin-left: 80px;
  width: 453px;
  height: 80px;
}

.subscribe-form {
  display: flex;
}

.footer-form-label {
  color: var(--white);
  font-weight: 500;
}

.footer-form-input {
  color: var(--white);
  width: 264px;
  height: 40px;
  padding: 8px 16px;
  display: flex;
  outline: none;
  font-size: 14px;
  flex-shrink: 0;
  margin-top: 16px;
  background: var(--navyblue, #2e2f42);
  border-radius: 4px;
  border: 1px solid var(--white, #fff);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

.footer-form-input::placeholder {
  color: var(--white, #fff);
  font-size: 12px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.48px;
}

.footer-form-button {
  margin-top: 40px;
  height: 40px;
  display: flex;
  padding: 8px 24px;
  justify-content: center;
  align-items: center;
  gap: 16px;
  margin-left: 24px;
  border: none;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.64px;
  border-radius: 4px;
  color: var(--white);
  background: var(--iris);
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-form-button:hover {
  background-color: var(--ocean);
}

/* Portfolio */

.filter {
  display: flex;
  gap: 24px;
  justify-content: center;
  margin-bottom: 72px;
}

.button-filter {
  display: flex;
  padding: 12px 24px;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  border: 1px solid var(--cornflower);
  background: var(--cloud);
  color: var(--iris);
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.64px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-filter:hover,
.button-filter:focus {
  background-color: var(--ocean);
  cursor: pointer;
  color: var(--white);
  border: 1px solid var(--ocean);
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12),
    0px 2px 1px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
}

.button-filter-active {
  background: var(--ocean);
  color: var(--white);
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12),
    0px 2px 1px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
  border: 1px solid var(--ocean);
  cursor: pointer;
}

.portfolio {
  display: flex;
  gap: 48px 24px;
  flex-wrap: wrap;
}

.portfolio-item {
  display: flex;
  width: 360px;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 0px 0px 4px 4px;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio_item:hover,
.portfolio_item:focus {
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.portfolio-link {
  text-decoration: none;
  color: inherit;
}

.portfolio-card {
  min-width: 360px;
}

.portfolio-card-overlay {
  position: relative;
  overflow: hidden;
}

.portfolio-card-desc {
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 40px 32px 164px 32px;
  background-color: var(--iris);
  color: var(--cloud);
  font-weight: 400;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-link:hover .portfolio-card-desc,
.portfolio-link:focus .portfolio-card-desc {
  display: block;
  transform: translateY(-100%);
}

.portfolio-text-wrapper {
  padding: 32px 16px;
  border: 1px solid var(--cornflower);
  border-top: none;
  width: 100%;
}

.portfolio_title {
  color: var(--navyblue);
  margin-bottom: 10px;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.4px;
}

.portfolio_description {
  color: var(--slate);
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.32px;
}

/* MODAL WINDOW */

.modal-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--navybluemodal);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

/* Modal Form */

.modal {
  position: absolute;
  padding: 72px 24px 24px 24px;
  top: 50%;
  left: 50%;
  width: 408px;
  border-radius: 4px;
  background: var(--dairy);
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2),
    0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 1px 1px 0px rgba(0, 0, 0, 0.14);
  transform: translate(-50%, -50%);
}

.modal-close-circle {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  color: var(--navyblue);
  border-radius: 50%;
  background-color: var(--cornflower);
  border-color: rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: background-color, color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-circle:hover,
.modal-close-circle:focus {
  color: var(--white);
  background-color: var(--ocean);
}

.modal-close-icon {
  width: 8px;
  height: 8px;
  fill: currentColor;
}

.form-header {
  color: var(--navyblue);
  text-align: center;
  font-weight: 500;
  margin-bottom: 34px;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 4px;
}

.form-button_container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.form-button {
  width: 169px;
  height: 56px;
  padding: 16px 32px;
  border: none;
  font-weight: 500;
  letter-spacing: 0.64px;
  border-radius: 4px;
  background-color: var(--iris);
  color: var(--white);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-button:hover,
.form-button:focus {
  background-color: var(--ocean);
}

.form-input {
  display: block;
  width: 360px;
  height: 40px;
  padding-top: 11px;
  padding-bottom: 11px;
  padding-left: 38px;
  flex-shrink: 0;
  font-size: 14px;
  fill: currentColor;
  border-radius: 4px;
  border: 1px solid var(--navybluemodal);
  outline: none;
}

.form-input:focus,
.form-input:hover,
.form-textarea:hover,
.form-textarea:focus {
  border: 1px solid var(--iris);
}

.form-input:focus + .form-input-icon,
.form-input:hover + .form-input-icon {
  fill: var(--iris);
}

.form-textarea {
  width: 360px;
  height: 120px;
  flex-shrink: 0;
  padding-top: 8px;
  padding-left: 16px;
  border-radius: 4px;
  font-size: 14px;
  border: 1px solid var(--navybluemodal);
  resize: none;
}

.form-textarea::placeholder {
  color: var(--navybluemodal);
  font-size: 12px;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: 0.48px;
}
.checkbox {
  appearance: none;
  position: absolute;
}
.checkbox-icon {
  display: inline-block;
  border-radius: 2px;
  fill: none;
}

.checkbox-icon:hover,
.checkbox-icon:focus {
  border: 1px solid var(--iris);
}
.check-mark {
  display: block;
  width: 16px;
  height: 16px;
  border-radius: 2px;
  border: 1px solid var(--navybluemodal);
  cursor: pointer;
}

.checkbox:checked + .checkbox-icon {
  background-size: contain;
  font: var(--white);
  fill: var(--white);
  border-radius: 2px;
  border: 1px solid var(--iris);
  background-color: var(--iris);
  cursor: pointer;
}

.form-label {
  position: relative;
  margin-bottom: 30px;
  font-size: 12px;
  line-height: 1.166;
  letter-spacing: 0.01em;
  color: var(--lightslate);
}

.form-label-textarea {
  position: relative;
  margin-bottom: 16px;
  font-size: 12px;
  line-height: 1.166;
  letter-spacing: 0.01em;
  color: var(--lightslate);
}

.form-label-text {
  position: absolute;
  top: -20px;
}

.form-input-icon {
  position: absolute;
  transform: translateY(-50%);
  top: 50%;
  left: 16px;
  width: 18px;
  height: 24px;
  fill: var(--navyblue);
}

.form-agree-box {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 360px;
  height: 16px;
  gap: 8px;
  margin-bottom: 24px;
}

.form-agree-box_text {
  flex-shrink: 0;
  color: var(--lightslate);
  font-size: 12px;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: 0.48px;
}

.form-agree-box_link {
  color: var(--iris);
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0.48px;
  text-decoration-line: underline;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-agree-box_link:hover,
.form-agree-box_link:focus {
  color: var(--ocean);
  text-decoration-color: var(--navybluemodal);
}
